### Gradle ###
.gradle/
build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Java ###
*.hprof
*.hprof.*

### misc ###
logs/
*.log

### OS ###
.DS_Store
Thumbs.db

### VS Code ###
.vscode/

### Front ###
node_modules/
dist/
